.battery-container {

  border: solid 1px #efefef;
  background-image: url("../../../assets/battery-container.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  margin: 1em;
  padding-left: 10px;
  padding-right: 25px;
  height: 130px;
  display: flex;
  flex-direction: row;

  .battery-bar {
    flex: 1;
    background-color: #0cd1e8;
    margin: .5em;
  }

}
