.battery-infos-container {

  border: solid 1px #efefef;
  margin: 1em;

  h1 {
    font-size: 1.2em;
    border-bottom: solid 1px #efefef;
    text-align: center;
    padding-bottom: 1em;
  }

  p{
    text-align: center;
    padding: 1em;
  }

  .blue {
    color: #22c6e8;
  }

  .golden {
    color: #d1a622;
  }


}
