<ion-header>
  <ion-toolbar>
    <ion-title>
      KILOWATT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="battery-infos-container">
    <h1 class="blue">1750 kW points</h1>
    <p>Atteignez 250 kW points supplémentaires</p>
    <app-battery-indicator category="blue" value="3"></app-battery-indicator>
  </div>

  <div class="battery-infos-container">
    <h1 class="golden">VOS GOLDEN BATTERY : 1(1750KW)</h1>
    <p>Remplissez 4 batteries bleues <br />pour obtenir une batterie d'or</p>
    <app-battery-indicator category="golden" value="1"></app-battery-indicator>
    <p>Une batterie d'or remplie doublera vos chances pour gagner un voyage <br />
    Ces batteries sont cumulables et accroiteront vos chances !</p>
  </div>








</ion-content>
