.qrcode-container {

  border: solid 1px #efefef;
  padding: 1em;
  margin: 1em;
  text-align: center;

  display: flex;
  flex-direction: column;

  div {

    background-color: #0bb8cc;
    display: flex;
    flex-direction: row;

    input[type="text"], button {
      background-color: red;
      border: none;
      height: 50px;
      margin: 0; padding: 0;
    }

    input[type="text"] {
      display: flex;
      flex: 1;
      padding-left: 1em;
      padding-right: 1em;
    }

    button {
      width: 50px;
      font-weight: bold;
      color: white;
    }

  }


}
