<ion-header>
  <ion-toolbar>
    <ion-title>
      SCAN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="qrcode-container">
    {{selectedQrCodes}}
    <p>Scannez votre premier code barre <br />Ou saisissez directement le code</p>
    <div>
        <input type="text" value="" placeholder="Saisissez votre code à 13 chiffres" [(ngModel)]="manualEnteredQrCode">
        <button (click)="processManualEnteredQrCode()">OK</button>
    </div>
  </div>

  <ion-button color="primary" (click)="openQrCodeScanner()">Init Scan</ion-button>

</ion-content>
